body {
    background-color: pink;
  }
  
  h1 {
    color: rgb(177, 58, 95);
  }

  .center{
    text-align: center;
  }

  .fonte-verde {
    color:rgb(22, 148, 97);
  }

  #para {
    font-family: verdana;
    font-size: 20px;
  }
